<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/add_res.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include ('./sidebar.ejs') %>
    <div class="wrapper">
      <form
        action="/newRes"
        enctype="application/x-www-form-urlencoded"
        method="post"
      >
        <input type="text" value="Toshkent" name="name" />
        <select name="res_name" class="select" onchange="getSelectValue()">
          <option disabled>choose category</option>
          <option value="milliy">milliy</option>
          <option value="fastfood">fast food</option>
        </select>
        <input type="hidden" class="type" name="category" />
        <input type="text" placeholder="img url" name="image" />
        <button type="submit" class="btn">Create</button>
      </form>

      <ol id="list" style="list-style: none">
        <table>
          <tr>
            <th>№</th>
            <th>Name</th>
            <th>Category</th>
            <th>delete</th>
          </tr>
          <% restaurants.map(el => { %>
          <li>
            <tr>
              <td><%= el.id %></td>
              <td style="display: flex; align-items: center">
                <img
                  src="<%= el.image %> "
                  style="width: 50px; height: 50px"
                  alt=""
                />
                <%= el.name %>
              </td>
              <td><%= el.category %></td>
              <td>
                <button data-id="<%= el.name %>" class="delete-btn">
                  delete
                </button>
              </td>
            </tr>
          </li>
          <% }) %>
        </table>
      </ol>
    </div>
    <script src="/public/js/add_res.js"></script>
  </body>
</html>
